.desktop-pso {
    background-color: #dbebe8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop-pso .div-pso{
    background-color: #dbebe8;
    overflow: hidden;
    width: 100%;
    /* height: 1375px; */
    position: relative;
  }
  
  .desktop-pso .overlap-pso {
    position: absolute;
    width: 100%;
    height: 99px;
    top: 0;
    left: -8px;
    background-color: #dbebe8;
    border: 1px solid;
    border-color: #000000;
    filter: blur(25px);
  }
  
  .desktop-pso .group-pso {
    position: absolute;
    width: 553px;
    height: 50px;
    top: 34px;
    left: 322px;
  }
  
  .desktop-pso .text-wrapper-pso {
    position: absolute;
    width: 126px;
    top: 0;
    left: 0;
    font-family: "Inconsolata-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop-pso .overlap-group-pso {
    position: absolute;
    width: 100%;
    height: 85px;
    top: 0;
    left: 0;
    background-color: #f1f7f74c;
    border: 1px solid;
    border-color: #000000;
    box-shadow: 0px 4px 4px #00000040;
    backdrop-filter: blur(4px) brightness(100%);
    -webkit-backdrop-filter: blur(4px) brightness(100%);
  }
  
  .desktop-pso .text-wrapper-2-pso {
    position: absolute;
    width: 204px;
    top: 0;
    left: 0;
    font-family: "Inconsolata-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop-pso .text-wrapper-3-pso {
    position: absolute;
    width: 204px;
    top: 0;
    left: 180px;
    font-family: "Inconsolata-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop-pso .overlap-2-pso {
    position: absolute;
    width: 191px;
    height: 57px;
    top: 26px;
    left: 1244px;
  }
  
  .desktop-pso .rectangle-pso {
    position: absolute;
    width: 191px;
    height: 48px;
    top: 0;
    left: 0;
    background-color: #8dd2c5;
    border-radius: 30px;
  }
  
  .desktop-pso .text-wrapper-4-pso {
    position: absolute;
    width: 138px;
    top: 7px;
    left: 33px;
    font-family: "Inconsolata-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop-pso .overlap-3-pso {
    position: absolute;
    width: 621px;
    height: 812px;
    top: 254px;
    left: 420px;
    background-color: #d9d9d9;
    border-radius: 30px;
    border: 5px solid;
    border-color: #000000;
    box-shadow: 0px 4px 4px #00000040, 0px 4px 4px #00000040, 0px 4px 4px #00000040, 0px 4px 4px #00000040,
      0px 4px 4px #00000040, 0px 4px 4px #00000040, 0px 4px 4px #00000040, 0px 4px 4px #00000040;
  }
  
  .desktop-pso .ellipse-pso {
    position: absolute;
    width: 68px;
    height: 61px;
    top: 698px;
    left: 280px;
    background-color: #767676;
    border-radius: 34px/30.5px;
    border: 4px solid;
    border-color: #000000;
    backdrop-filter: blur(4px) brightness(100%);
    -webkit-backdrop-filter: blur(4px) brightness(100%);
  }
  
  .desktop-pso .smart-pso {
    position: absolute;
    width: 97px;
    height: 80px;
    top: 689px;
    left: 434px;
    object-fit: cover;
  }
  
  .desktop-pso .upload-image-pso {
    position: absolute;
    width: 103px;
    height: 92px;
    top: 683px;
    left: 74px;
    object-fit: cover;
  }
  
  .desktop-pso .rectangle-2-pso {
    position: absolute;
    width: 567px;
    height: 588px;
    top: 24px;
    left: 24px;
    background-color: #ffffff;
    border-radius: 25px;
  }
  
  .desktop-pso .p-pso {
    position: absolute;
    width: 1137px;
    top: 151px;
    left: 151px;
    font-family: "Kadwa-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop-pso .MADE-WITH-TEAM-wrapper-pso {
    position: absolute;
    width: 1440px;
    height: 165px;
    top: 1195px;
    left: 0;
    background-color: #b7e2da;
  }
  
  .desktop-pso .MADE-WITH-TEAM-pso {
    position: absolute;
    width: 513px;
    top: 70px;
    left: 502px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop-pso .span-pso {
    color: #000000;
  }
  
  .desktop-pso .text-wrapper-hi-pso {
    color: #f31616;
  }
  .desktop-pso {
    background-color: #dbebe8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop-pso .div-pso {
    background-color: #dbebe8;
    overflow: hidden;
    width: 1440px;
    height: 1360px;
    position: relative;
  }
  
  .desktop-pso .overlap-pso {
    position: absolute;
    width: 1448px;
    height: 99px;
    top: 0;
    left: -8px;
    background-color: #dbebe8;
    border: 1px solid;
    border-color: #000000;
    filter: blur(25px);
  }
  
  .desktop-pso .group-pso {
    position: absolute;
    width: 553px;
    height: 50px;
    top: 34px;
    left: 322px;
  }
  
  .desktop-pso .text-wrapper-pso {
    position: absolute;
    width: 126px;
    top: 0;
    left: 0;
    font-family: "Inconsolata-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop-pso .overlap-group-pso {
      position: absolute;
      width: 100%;
      height: 85px;
      top: 0;
      left: 0;
      background-color: #f1f7f74c;
      border: 1px solid;
      border-color: #000000;
      box-shadow: 0px 4px 4px #00000040;
      backdrop-filter: blur(4px) brightness(100%);
      -webkit-backdrop-filter: blur(4px) brightness(100%);
    }
    
    .desktop-pso .group-pso {
      position: absolute;
      width: 531px;
      height: 51px;
      top: 32px;
      left: 273px;
    }
    
    .desktop-pso .text-wrapper-2-pso {
      position: absolute;
      width: 10%;
      top: 0;
      left: 0%;
      font-family: "Inconsolata-Regular", Helvetica;
      font-weight: 400;
      color: #000000;
      font-size: 24px;
      letter-spacing: 0;
      line-height: normal;
      text-decoration: none;
    }
    
    .desktop-pso .overlap-group-2-pso {
      position: absolute;
      width: 376px;
      height: 51px;
      top: 0;
      left: 17%;
    }
    
    .desktop-pso .text-wrapper--pso {
      position: absolute;
      width: 45%;
      top: 0;
      left: 0%;
      font-family: "Inconsolata-Regular", Helvetica;
      font-weight: 400;
      color: #000000;
      font-size: 24px;
      letter-spacing: 0;
      line-height: normal;
      text-decoration: none;
    }
    
    .desktop-pso .text-wrapper-4-pso {
      position: absolute;
      width: 45%;
      top: 0;
      left: 45%;
      font-family: "Inconsolata-Regular", Helvetica;
      font-weight: 400;
      color: #000000;
      font-size: 24px;
      letter-spacing: 0;
      line-height: normal;
      text-decoration: none;
    }
    
    .desktop-pso.overlap-2-pso {
      position: absolute;
      width: 191px;
      height: 61px;
      top: 22px;
      left: 1227px;
    }
    
    .desktop-pso .rectangle-7-pso {
      width: 191px;
      height: 48px;
      top: 0;
      right: -20%;
      background-color: #8dd2c5;
      position: absolute;
      border-radius: 30px;
    }
    
    .desktop-pso .text-wrapper-5-pso {
      position: absolute;
      width: 138px;
      top: 13px;
      right: -8%;
      font-family: "Inconsolata-Regular", Helvetica;
      font-weight: 400;
      color: #000000;
      font-size: 20px;
      letter-spacing: 0;
      line-height: normal;
      text-decoration: none;
    }
  
  .desktop-pso .overlap-3-pso {
    position: absolute;
    width: 621px;
    height: 812px;
    top: 254px;
    left: 420px;
    background-color: #d9d9d9;
    border-radius: 30px;
    border: 5px solid;
    border-color: #000000;
    box-shadow: 0px 4px 4px #00000040, 0px 4px 4px #00000040, 0px 4px 4px #00000040, 0px 4px 4px #00000040,
      0px 4px 4px #00000040, 0px 4px 4px #00000040, 0px 4px 4px #00000040, 0px 4px 4px #00000040;
  }
  
  .desktop-pso .ellipse-pso {
    position: absolute;
    width: 68px;
    height: 61px;
    top: 698px;
    left: 280px;
    background-color: #767676;
    border-radius: 34px/30.5px;
    border: 4px solid;
    border-color: #000000;
    backdrop-filter: blur(4px) brightness(100%);
    -webkit-backdrop-filter: blur(4px) brightness(100%);
  }
  
  .desktop-pso .smart-pso {
    position: absolute;
    width: 97px;
    height: 80px;
    top: 689px;
    left: 434px;
    object-fit: cover;
  }
  
  .desktop-pso .upload-image-pso {
    position: absolute;
    width: 103px;
    height: 92px;
    top: 683px;
    left: 74px;
    object-fit: cover;
  }
  
  .desktop-pso .rectangle-2-pso {
    position: absolute;
    width: 567px;
    height: 588px;
    top: 24px;
    left: 24px;
    background-color: #ffffff;
    border-radius: 25px;
  }
  
  .desktop-pso .p-pso {
    position: absolute;
    width: 1137px;
    top: 151px;
    left: 151px;
    font-family: "Kadwa-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop-pso .MADE-WITH-TEAM-wrapper-pso {
    position: absolute;
    width: 1440px;
    height: 165px;
    top: 1195px;
    left: 0;
    background-color: #b7e2da;
  }
  
  .desktop-pso .MADE-WITH-TEAM-pso{
    position: absolute;
    width: 513px;
    top: 70px;
    left: 502px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop-pso .span-pso {
    color: #000000;
  }
  
  .desktop-pso .text-wrapper-hi-pso {
    color: #f31616;
  }
    